h2 {
    color: #E7E7DE;
    padding: 7px;
    border-radius: .25rem;
    background-color: #008891;
}


.portfolio{
    max-width: 300px;
    margin: 0;

}
.portfolioItem{
    /* background-color: rgba(13, 13, 116, 0.658); */
    background-color: #008891;
    color: #E7E7DE;
    border-radius: 8px;
    padding: 8px;
    height: 450px;
    width: 450px;
    align-items: center;
    justify-items: center;
    display: grid;
    margin: auto;
    grid-template-rows: 2fr 1fr;
    max-width: 400px;

}
.comingSoon{
    display: flex;
    justify-content: space-around;

}

.carousel-item {
    max-width: 900px;
    height: auto;
    max-height: 800px;

}
.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 2rem;
}
.carouselPic {
    /* max height: 600px; */
}

.bold{
    font-weight: bold;
}

.bold p {
    font-weight: 400;
    color:#E7E7DE;
}
.bold h4 {
    background-color: #0f3057;
    border-radius: 8px;
}

p {
    margin-bottom: 0;
}

/* main,
header,
footer,
body{
    background-color: #333333; 
    background-color: #434242;
    background-image: url(./photos/bananasPattern.webp);
    color: white;
} */
main,
footer,
body{
    /* background-color: #333333; */
    background-color: #434242;
    background-image: url(./photos/light_honeycomb.png);
    color: #0f3057;
}
header {
    background-color: #00000056;
    opacity: 0.5;

}

html,
body
{
    min-height: 100%;
}

main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 95vw;
    text-align: center;
    margin-bottom: 65px;
    margin-top: 30px;
}

.portfolioMain {
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}


.navbar-toggler{
    /* color: blue; */
    color: #008891;
    align-items: baseline;
}
.navbar-toggler-icon{
    /* color: blue; */
    color: #008891;
}
.nav-link{
    color: #ecc30b;
}
.container-fluid{
    color: #0f3057;
    font-style: italic;
}
a{
    color: #0f3057;
    font-style: italic;
}

.portfolioPic {
    box-shadow: 80px 80px 80px 80px white inset;
    max-width: 300px;
    border-radius: 8px;
    margin: auto;
}

ul {
    background-color: #0f3057;
    border-radius: .25rem;
}
li {

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.removeBullets {
    list-style-type: none;
    list-style: none;
    padding: 0;
    color:#E7E7DE
}
.portfolioGrid{
    display: grid;
    grid-template-columns: 1fr;
}
.certs{
    max-width: 400px;
}
.allcol{
    grid-column: span 3;
    margin: auto;
}

.linkPic {
    background-color: #ecc30b00;
}
.linkedIn{
    grid-column-start: 2;
    max-height: 45px;
}
.gitHub{
    grid-column-start: 4;
    max-height: 50px;

}
.fgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

iframe {
    position:absolute; 
    top:0; 
    left: 0

}
.formBox {
    /* padding-bottom: 20%; */
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 65px - 70px);

}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-top: 15px;
}


/* EXTRA EXTRA SMALL SCREENS */
@media only screen and (max-width: 500px){
    html {
        font-size: 16px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .certs{
        max-width: 300px;
    }
    .portfolio{
        max-width: 268px;
    }
    .portfolioItem{
        padding: 0;
        max-width: 300px;
    }

    .allcol{
        grid-column: span 1;
        margin: auto;
    }
    .fgrid{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        justify-items: center;
    }
    .linkPic {
        /* background-color: #ECC30B; */
        background-color: #ecc30b;
    }
    .linkedIn{
        max-height: 26px;
    }
    .gitHub{
        max-height: 30px;
    }
    .caroselPic {
        width: 300px;
    }
  }

/* EXTRA SMALL SCREENS */
@media only screen and (min-width: 501px) and (max-width: 699px){
    html {
        font-size: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .portfolioMain {
        display: grid;
        grid-template-columns: 1fr;
    }
    .portfolioItem {
        max-width: 400px;
    }
    .portfolio{
        max-width: 300px;
    }
    .certs{
        max-width: 300px;
    }
    .allcol{
        grid-column: span 1;
        margin: auto;
    }
    .fgrid{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
        justify-items: center;
    }

  }


/* SMALL SCREENS */
@media only screen and (min-width: 700px) and (max-width: 999PX) {
    html {
        font-size: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .portfolioMain {
        display: grid;
        grid-template-columns: 1fr;
    }
    .portfolioItem {
        max-width: 400px;
    }
    .portfolio{
        max-width: 300px;
    }
    .certs{
        max-width: 300px;
    }
    .allcol{
        grid-column: span 2;
        margin: auto;
    }
    .carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 2rem;
    }
  }


/* MEDIUM SCREENS */
@media only screen and (min-width: 1000px) and (max-width: 1400px){
    html {
        font-size: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .certs{
        max-width: 400px;
    }
    .allcol{
        grid-column: span 2;
        margin: auto;
    }
    .carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        padding-top: 2rem;
    }
    #carouselExampleIndicators {
        /* max-width: 65%; */
        max-width: 850px;

    }
  }


/* LARGE SCREENS */
@media only screen and (min-width: 1400px){
    html {
        font-size: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .certs{
        max-width: 400px;
    }
    .allcol{
        grid-column: span 3;
        margin: auto;
    }
    .fgrid{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
        justify-items: center;
    }
    .carousel {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
        padding-top: 2rem;
    }
    .carousel-item{
        margin: auto;
        
    }
    #carouselExampleIndicators {
        /* max-width: 65%; */
        max-width: 900px;

    }
  }
