h1 {
  color: #008891;
}

h2 {
  color: #e7e7de;
  padding: 7px;
  border-radius: 0.25rem;
  background-color: #008891;
}

.certHeading {
  background-color: #0f3057;
  width: 95vw;
}

/* portfolio page styling below */

.portfolioItem {
  background-color: #0f3057;
  border-radius: 8px;
  width: 70vw;
  padding: 1rem;
  color: #e7e7de;
  margin: 10px;
}

.portfolioText {
  /* background-color: #008891; */
  border-radius: 8px;
  margin: 20px;
}

.portfolioImg {
  border-radius: 8px;
  max-width: 65vw;
}

.bold {
  font-weight: bold;
}

.bold p {
  font-weight: 400;
  color: #e7e7de;
}
.bold h4 {
  background-color: #008891;
  border-radius: 8px;
}

p {
  margin-bottom: 0;
}

main,
footer,
body {
  color: #0f3057;
}
body {
  background-image: url(./photos/light_honeycomb.png);
}

html,
body {
  min-height: 100%;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 20px;
}

.aboutText {
  width: 70vw;
  margin: auto;
}

.navbar-toggler {
  color: #008891;
  align-items: baseline;
}
.navbar-toggler-icon {
  color: #008891;
}
.nav-link {
  color: #e7e7de;
  background-color: #008891;
  opacity: 1;
  border-radius: 8px;
  margin: 16px 8px 16px 8px;
}
.nav-link:hover {
  background-color: #0f3057;
  color: #e7e7de;
}
.nav-icon {
  padding: 8px !important;
  margin: 8px 0 8px 0;
  color: #008891;
}

.nav-icon-color:hover {
  color: #0f3057;
}
.nav-icon:hover {
  color: #0f3057;
}

/* width: 992px is when the nav bar collapses via bootstrap */
@media (min-width: 992px) {
  .navbar-nav {
    align-items: center;
    color: white!;
  }
}
@media (max-width: 992px) {
  .nav-link {
    padding: 10px !important;
  }
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.container-fluid {
  color: #0f3057;
}
a {
  color: #e7e7de;
}

.portfolioPic {
  box-shadow: 80px 80px 80px 80px white inset;
  max-width: 300px;
  border-radius: 8px;
  border-color: #0f3057;
  border-width: 10px;
  border-style: solid;
  margin: auto;
}

ul {
  background-color: #0f3057;
  border-radius: 0.25rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.removeBullets {
  list-style-type: none;
  list-style: none;
  padding: 0;
  color: #e7e7de;
}
.portfolioGrid {
  display: grid;
  grid-template-columns: 1fr;
}
.certs {
  max-width: 400px;
}

/* a figure figcaption {
color: #0f3057;
text-decoration: none;
font-size: 1.25rem;
}
a figure figcaption:hover {
color: #008891;
} */

.certLink {
  color: #0f3057;
  text-decoration: none;
  font-size: 1.25rem;
}

.certLink:hover {
  color: #008891;
  text-decoration: none;
  font-size: 1.25rem;
}

.pdf {
  width: 400px;
  height: 300px;
}
.allcol {
  grid-column: span 3;
  margin: auto;
}

.linkPic {
  background-color: #ecc30b00;
}
.linkedIn {
  grid-column-start: 2;
  max-height: 45px;
}
.gitHub {
  grid-column-start: 4;
  max-height: 50px;
}
.fgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.formBox {
  position: relative;
  display: block;
  width: 100%;
  height: 800px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 15px;
}

/* EXTRA EXTRA SMALL SCREENS */
@media only screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .certs {
    max-width: 300px;
  }
  .portfolio {
    max-width: 268px;
  }

  .portfolioItem {
  background-color: #0f3057;
  border-radius: 8px;
  width: 300px;
  padding: 0;
  color: #e7e7de;
  margin: 0;
}
.portfolioImg {
  border-radius: 8px;
  max-width: 100%;
}

  .allcol {
    grid-column: span 1;
    margin: auto;
  }
  .fgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    justify-items: center;
  }
  .linkedIn {
    max-height: 26px;
  }
  .gitHub {
    max-height: 30px;
  }
  .caroselPic {
    width: 300px;
  }
}

/* EXTRA SMALL SCREENS */
@media only screen and (min-width: 501px) and (max-width: 699px) {
  html {
    font-size: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolioMain {
    display: grid;
    /* grid-template-columns: 1fr; */
  }
  .portfolioItem {
    max-width: 400px;
  }
  .portfolio {
    max-width: 300px;
  }
  .certs {
    max-width: 300px;
  }
  .allcol {
    grid-column: span 1;
    margin: auto;
  }
  .fgrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    justify-items: center;
  }
}

/* SMALL SCREENS */
@media only screen and (min-width: 700px) and (max-width: 999px) {
  html {
    font-size: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .portfolioMain {
    display: grid;
    /* grid-template-columns: 1fr; */
  }
  .portfolioItem {
    max-width: 400px;
  }
  .portfolio {
    max-width: 300px;
  }
  .portfolioImg {
    max-width: 300px;
  }
  .certs {
    max-width: 300px;
  }
  .allcol {
    grid-column: span 2;
    margin: auto;
  }

}

/* MEDIUM SCREENS */
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
  html {
    font-size: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .certs {
    max-width: 400px;
  }
  .allcol {
    grid-column: span 2;
    margin: auto;
  }
}

/* LARGE SCREENS
@media only screen and (min-width: 1400px){
    html {
        font-size: 20px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .certs{
        max-width: 400px;
    }
    .allcol{
        grid-column: span 3;
        margin: auto;
    }
    .fgrid{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
        justify-items: center;
    }
  } */
