body{
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: black;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    color: white;
    
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}
h4 {
    font-size: .9rem;
}
p {
    font-size: .8rem;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: 1 / 1 / span 1 / span 6;
    background-color: blue;
    border-radius: 10px;
}

.left {
    display: grid;
    grid-area: 1 / 1 / span 1 / span 2;
    justify-content : left;
    text-align: left;   
    padding: 1rem;
}

/* .middle {
    grid-area: 1 / 2 / spa 1 / span 1;
} */

.right {
    grid-area: 1 / 3 /span 1 / span 1;
    display: grid; 
    border-radius: 10px;    
}

.right ul {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.right ul li{
    border-radius: 5px;
    padding: .5rem;
    margin: 1rem;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: grid;
    align-items: center;
}

#nav1 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: blueviolet;
    border-radius: 10px;

}
#nav2 {
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: yellowgreen;
    border-radius: 10px;
}
#nav3 {
    grid-area: 1 / 3 / span 1 / span 1;
    background-color: orange;
    border-radius: 10px;
}

.h1 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: green;
    z-index: 5;
}

main {
    grid-area: 2 / 1 / span 6 / span 6;
    /* background-color: lightblue; */
    border-radius: 10px;
}

.about {
    padding: 1rem;
    grid-area: 3 / 1 / span 6 / span 1;
}

.Events {
    grid-area: 5 / 2 / span 1 / span 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}
.Events img {
    max-width: 300px;
    height: auto;
    padding: 1rem;
}
.event1 {
    grid-area: 1 / 1 / span 2 / span 2;
    background-color: black;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.event1 img,
.event1 h3,
.event1 h4 {
    background-color: blueviolet;
}

.event1 img {
    border-radius: 10px 10px 0px 0px;
}
.event1 h4 {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
}
.Events div h4 {
    grid-area: 3 / 1 / 1 span / 1 span;
    padding: .5rem;
}
.Events div h3 {
    grid-area: 2 / 1 / 1 span / 1 span;
    padding: .5rem;
}
.event2 {
    grid-area: 1 / 3 / span 2 / span 2;
    background-color: black;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.event2 img,
.event2 h3,
.event2 h4 {
    background-color: yellowgreen;
}

.event2 img {
    border-radius: 10px 10px 0px 0px;
}
.event2 h4 {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
}
.event3 {
    grid-area: 1 / 5 / span 2 / span 2;
    background-color: black;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.event3 img,
.event3 h3,
.event3 h4 {
    background-color: orange;
}

.event3 img {
    border-radius: 10px 10px 0px 0px;
}
.event3 h4 {
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
}
footer {
    grid-area: 8 / 1 / span 1 / span 6;
    background-color: grey;
    border-radius: 10px;
}
.contact {
    padding: 1rem;
}

@media only screen and (max-width:1100px) {
    body {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .about {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .Events {
        grid-area: 5 / 2 / span 1 / span 6;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr 1fr 1fr;
        grid-gap: 0rem;
        margin: 1rem;
    }
    .event1 {
        grid-area: 1 / 1 / span 2 / span 2;
        background-color: black;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .event1 img,
    .event1 h3,
    .event1 h4 {
        background-color: blueviolet;
    }

    .event1 img {
        border-radius: 10px 10px 0px 0px;
    }
    .event1 h4 {
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 2rem;
    }
    
    .event2 {
        grid-area: 3 / 1 / span 2 / span 2;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    .event3 {
        grid-area: 5 / 1 / span 2 / span 2;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    nav {
        display: grid;
        background-color: black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-area: 1 / 1 / span 2 / span 6;
        border-radius: 10px;
        grid-gap: 10px;
    }
    .left {
        background-color: blue;
        border-radius: 10px;
        display: grid;
        grid-area: 1 / 1 / span 1 / span 3;
        justify-content : center;
        padding: 0rem;
        margin-bottom: 0rem;
        align-items: center;
    }
    .left h1 {
        font-size: 3.5rem;
        text-align: center;

    }

    .right {
        background-color: gray;
        grid-area: 2 / 1 /span 1 / span 3;
        display: grid; 
    }
    .about {
        padding: 6rem 2rem 2rem 2rem;
        grid-area: 3 / 1 / span 6 / span 1;
    }
    .Events {
        grid-area: 5 / 2 / span 1 / span 6;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 0rem;
    }
}
@media only screen and (max-width: 350px) {
    .Events img {
        max-width: 250px;
        height: auto;
        padding: 1rem;
    }

}